$darkblueForm: hsl(217, 28%, 15%);
$darkblueBG: hsl(218, 28%, 13%);
$darkblueFooter: hsl(216, 53%, 9%);
$darkblueTest: hsl(219, 30%, 18%);
$cyanBtn: hsl(176, 68%, 64%);
$blueBtn: hsl(198, 60%, 50%);
$red: hsl(0, 100%, 63%);
$white: hsl(0, 0%, 100%);

$font_raleway: "Raleway";
$font_open: "Open Sans";

$gap: 20px;
$fontSize: 16px;
